<app-filter (filterChange)="applyFilter($event)"></app-filter>
<p-carousel
  [value]="filteredAssignments"
  [numVisible]="5"
  [numScroll]="5"
  [circular]="true"
  [showIndicators]="false"
  (onPage)="pageChange($event)">
verticalViewPortHeight="360px">
  <ng-template let-assignment pTemplate="item">
    <div class="border-1 surface-border border-round m-2 p-3">
      <div class="mb-3 carousel-item">
        <div class="carousel-header">
          <h4>{{ assignment.name }}</h4>
        </div>
        <div class="carousel-body">
          <p class="item-info">Date: {{ assignment.date | date:'shortDate' }}</p>
          <p class="item-info">Department: {{ assignment.department }}</p>
          <p class="item-info">Nombre: {{ assignment.nombre }}</p>
          <p class="item-info">Statut: {{ assignment.termine ? 'Terminé' : 'Non terminé' }}</p>
        </div>
        <button *ngIf="authService.isAdmin()"
                pButton
                icon="pi pi-pencil"
                label="Supprimer"
                (click)="deleteAssignment(assignment.id)"
                class="btn btn-danger"></button>
        <button *ngIf="authService.isAdmin()"
                pButton
                icon="pi pi-pencil"
                label="Éditer"
                (click)="openEditModal(assignment)"
                class="btn btn-success"></button>
      </div>
    </div>
  </ng-template>
</p-carousel>

<app-edit-assignment-modal #editModal (assignmentUpdated)="onAssignmentUpdated($event)"></app-edit-assignment-modal>
<div class="pagination-info text-center mt-3">
  Page {{ page + 1 }} sur {{ totalPages }}
</div>
