<p-dialog header="Créer un compte" [(visible)]="display" [modal]="true" [closable]="false" [style]="{'width': '30vw'}">
  <form (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <div class="p-field pt-2">
        <label for="regNom">Nom</label>
        <input id="regNom" type="text" [(ngModel)]="nom" name="nom" required class="p-inputtext" />
      </div>
      <div class="p-field pt-2">
        <label for="regPrenom">Prénom</label>
        <input id="regPrenom" type="text" [(ngModel)]="prenom" name="prenom" required class="p-inputtext" />
      </div>
      <div class="p-field pt-2">
        <label for="regEmail">User Name</label>
        <input id="regEmail" type="email" [(ngModel)]="email" name="email" required class="p-inputtext" />
      </div>
      <div class="p-field pt-2">
        <label for="regPassword">Mot de passe</label>
        <input id="regPassword" type="password" [(ngModel)]="password" name="password" required class="p-inputtext" />
      </div>
      <div class="p-field pt-2">
        <label for="confirmPassword">Confirmer le mot de passe</label>
        <input id="confirmPassword" type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required class="p-inputtext" />
      </div>
      <div class="p-field pt-3">
        <p-checkbox name="isAdmin" [(ngModel)]="isAdmin" binary="true" ></p-checkbox>
        <label  for="isAdmin">Admin</label>
      </div>
      <div class="p-field" style="margin-top: 1rem;">
        <button type="submit" pButton label="S'inscrire" class="pt-mr-2"></button>
        <button type="button" pButton label="Annuler" (click)="hide()" class="p-button-secondary "></button>
      </div>
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
    </div>
  </form>
</p-dialog>
