.custom-carousel {
  background-color: #f0f4f8;
  padding: 1rem;
}

.carousel-item {
  background-color: #4fc698;
  border: 1px solid #000000;
  border-radius: 8px;
  color: #ffffff;
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
p-link {
  color: #ff0000;
}
.carousel-header {
  min-height: 7rem;
  background-color: #ef430e;
  padding: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #ffffff;
  font-size: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

}

.carousel-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
}

.carousel-footer {
  background-color: #ef430e;
  padding: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.custom-button {
  width: 100%;
}

.btn {
  margin: 0.5rem;
}


