<app-filter (filterChange)="applyFilter($event)"></app-filter>
<p-carousel
  [value]="filteredAssignments"
  [numVisible]="4"
  [numScroll]="1"
  [circular]="true"

  verticalViewPortHeight="360px">
  <ng-template let-assignment pTemplate="item">
    <div class="border-1 surface-border border-round m-2 p-3">
      <div class="mb-3 carousel-item" >
        <div class="carousel-header">
          <h4>{{ assignment.stock_industry }}</h4>
        </div>
        <div class=" carousel-body relative mx-auto">
          <p class="item-info">{{ assignment.stock_sector }}</p>
          <p class="item-info">{{ assignment.department }}</p>
          <p class="item-info">{{ assignment.stock_market_cap }}</p>
          <p class="item-info">{{ assignment.address }}</p>
          <button *ngIf="authService.isAdmin()"
                  pButton
                  icon="pi pi-pencil"
                  label="supprimer"
                  (click)="deleteAssignment(assignment.id)"
                  class="btn btn-danger"></button>
          <button *ngIf="authService.isAdmin()"
                  pButton
                  icon="pi pi-pencil"
                  label="Éditer"
                  (click)="openEditModal(assignment)"
                  class="p-ml-2"></button>
        </div>
      </div>


    </div>
  </ng-template>
</p-carousel>
<app-edit-assignment-modal #editModal (assignmentUpdated)="onAssignmentUpdated($event)"></app-edit-assignment-modal>

