<div class="login-container align-center">
<h2>User Login</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <input placeholder="User Name"  type="email" id="email" [(ngModel)]="email" name="email" required>
    </div>
    <div>
      <input placeholder="Password" type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <div class="btn-div">

    <button type="submit" pButton label="Se connecter" class="login-btn"></button>
    </div>
    <div *ngIf="errorMessage" class="error ">
      {{ errorMessage }}
    </div>
    <div class="btn-div pt-2 pb-4">
      <button type="button" pButton label="Créer un compte" (click)="openRegisterModal()" class="login-btn"></button>
    </div>

  </form>


  <app-register-modal></app-register-modal>
</div>
