/* Contenu principal quand l'utilisateur est connecté */
.main {
  transition: margin-left 0.3s ease;
  padding: 20px;
}

/* Conteneur centré pour la page de connexion */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Occupe toute la hauteur de la fenêtre */
}
