<ng-container *ngIf="isLoggedIn(); else loginTemplate">
  <main class="main" [ngStyle]="{'margin-left': sidebarCollapsed ? '60px' : '250px'}">
    <!-- Intégration de la side navigation qui gère désormais les actions -->
    <app-side-navigation (collapsedChange)="onSidebarCollapseChange($event)"></app-side-navigation>

    <!-- Reste de la page principale -->
    <app-carousel></app-carousel>
  </main>
</ng-container>

<ng-template #loginTemplate>
  <main class="login-container">
    <app-login-component></app-login-component>
  </main>
</ng-template>

<router-outlet></router-outlet>
