.main {
  transition: margin-left 0.3s ease;
  padding: 20px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Occupe toute la hauteur de la fenêtre */
}
