$theme-header-bg: #f1673d;
$theme-header-text: #ffffff;
$theme-primary-action-bg: #07ffd2;
$theme-primary-action-text: #212529;
$theme-secondary-action-color: #f1673d;
$theme-status-selected-bg: #28a745;

$theme-border-light: #dee2e6;
$theme-text-secondary: #6c757d;
$theme-text-primary: #212529;

.main {
  transition: margin-left 0.3s ease;
  padding: 20px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Occupe toute la hauteur de la fenêtre */
}
